psycopg2
pyyaml
sqlparse
sqlglot==28.0.0
z3-solver
python-dateutil
sql_error_taxonomy>=2.0.0
sqlscope>=1.0.15

# Dependencies for development
ipython

# Dependencies for building
build
autoapi
pytest
sphinx-autoapi
